<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">
	                    
	  <bean id="xml1" class="com.cho.beans.TestBean1"/>
	  <bean id="xml2" class="com.cho.beans.TestBean2"/>
	  <bean id="xml3" class="com.cho.beans2.TestBean1"/>
	  
	  <bean id="advisor1" class="com.cho.advisor.AdvisorClass"/>
	  
	  <aop:config>
	  	<aop:aspect ref="advisor1">
	  	
			<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 매개변수 없음 -->	  	
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1())" id="point1"/> -->
	  		
			<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 정수형 매개변수 1개 -->	  	
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(int))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, String 매개변수 1개 -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(java.lang.String))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 모든 타입의 매개변수 1개 -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(*))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 정수형 매개변수 2개 -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(int,int))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 정수형, String 매개변수 각각1개 -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(int, java.lang.String))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 모든타입 매개변수2개  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(*, *))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, method1 메서드, 모든타입 매개변수0개이상  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.method1(..))" id="point1"/> -->
	  		
	  		
	  		<!-- 반환타입이 void, com.cho.beans.TestBean1 클래스, 모든 메서드, 모든타입 매개변수0개이상  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.TestBean1.*(..))" id="point1"/> -->
	  		
	  		
	  		<!-- 반환타입이 void, com.cho.beans패키지, method1 메서드, 모든타입 매개변수0개이상  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.*.method1(..))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho.beans패키지, 모든 메서드, 모든타입 매개변수0개이상  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.beans.*.*(..))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 void, com.cho패키지, 모든 메서드, 모든타입 매개변수0개이상  -->
	  		<!-- <aop:pointcut expression="execution(void com.cho.*.*.*(..))" id="point1"/> -->
	  		
	  		<!-- 반환타입이 int, 모든 패키지, 모든 메서드, 모든타입 매개변수0개이상  -->
	  		<aop:pointcut expression="execution(int *.*(..))" id="point1"/>
	  		
	  		<!-- 모든 반환타입, 모든 패키지, 모든 메서드, 모든타입 매개변수0개이상  -->
	  		<aop:pointcut expression="execution(* *.*(..))" id="point1"/>
	  		
	  		
	  		
	  		<aop:before method="beforeMethod" pointcut-ref="point1"/>
	  	</aop:aspect>
	  </aop:config>
</beans>